* {
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-nav {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}

.conteudo-nav a {
    margin: 10px 10px 10px 10px;
}

.subconteudo {
    display: flex;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cadastro {
    width: 35%;
}

form {
    display: grid;
}

form input {
    margin: 2px 2px 2px 2px;
    height: 30px;
}

.logo {
    align-items: center;
    display: flex;
    width: 65%;
    justify-content: flex-end;
}


/*
html{
    scroll-behavior: smooth;
}

.section-container {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.style{
    margin: 5px 5px 5px;
    border-style: solid;
    border-radius: 1px;
    border-color: green;
}
.card-produto {
    width: 200px;
    height: 300px;
    border-style: groove;
    border-color: green;
    border-radius: 1x;
}
*/