* {
    margin: 0;
    padding: 0;
}

header {
    background-color: chartreuse;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-nav {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}

.conteudo-nav a {
    margin: 10px 10px 10px 10px;
}

.subconteudo {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.cadastro {
    width: 35%;
}

form {
    display: grid;
}

form input {
    margin: 2px 2px 2px 2px;
    height: 30px;
}

.logo {
    align-items: center;
    display: flex;
    width: 65%;
    justify-content: flex-end;
}

.card-produto {
    width: 200px;
    border: 1px solid blueviolet;
}

.card-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-block {
    display: block;
}

.card-center p {
    /*padding: 10px 0 0 10px;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.oferta {
    background-color: cyan;
    height: 50px;
}

.oferta-img {
    height: 80px;
}

.expira {
    display: block;
}

.expira p {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.desconto {
    background-color: black;
    height: 50px;
    color: white;
    font-weight: bold;
}

.desconto p {
    padding: 0;
}

.card-center img {
    width: 70%;
    height: auto;
}

.info-produto {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-produto button {
    background-color: greenyellow;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
}

footer {
    display: block;
    background-color: greenyellow;
}